<%= simple_form_for(@export_detail) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :export_id %>

    <%= f.input :product_id %>

    <%= f.input :quality %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
