<p id="notice"><%= notice %></p>

<p>
  <strong>Mer_id:</strong>
  <%= @branch.mer_id %>
</p>
<p>
  <strong>Name:</strong>
  <%= @branch.name %>
</p>

<%= link_to 'Edit', edit_branch_path(@branch) %> |
<%= link_to 'Back', branches_path %>
