<h1>Listing inventories</h1>

<table>
  <thead>
    <tr>
      <th>Warehouse</th>
      <th>Merchant account</th>
      <th>Decription</th>
      <th>Success</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= inventory.warehouse_id %></td>
        <td><%= inventory.merchant_account_id %></td>
        <td><%= inventory.decription %></td>
        <td><%= inventory.success %></td>
        <td><%= link_to 'Show', inventory %></td>
        <td><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
        <td><%= link_to 'Destroy', inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inventory', new_inventory_path %>
