%h1 Listing merchant_account_roles

%table
  %tr
    %th Merchant account
    %th Role
    %th Permission text
    %th
    %th
    %th

  - @merchant_account_roles.each do |merchant_account_role|
    %tr
      %td= merchant_account_role.merchant_account_id
      %td= merchant_account_role.role_id
      %td= merchant_account_role.permission_text
      %td= link_to 'Show', merchant_account_role
      %td= link_to 'Edit', edit_merchant_account_role_path(merchant_account_role)
      %td= link_to 'Destroy', merchant_account_role, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Merchant account role', new_merchant_account_role_path
