<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @order_detail.order_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @order_detail.product_id %>
</p>

<p>
  <strong>Quality:</strong>
  <%= @order_detail.quality %>
</p>

<p>
  <strong>Return quality:</strong>
  <%= @order_detail.return_quality %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order_detail.price %>
</p>

<p>
  <strong>Discount cash:</strong>
  <%= @order_detail.discount_cash %>
</p>

<%= link_to 'Edit', edit_order_detail_path(@order_detail) %> |
<%= link_to 'Back', order_details_path %>
