<h1>Listing mers</h1>

<table>
  <thead>
    <tr>
      <th>Head</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @mers.each do |mer| %>
      <tr>
        <td><%= mer.head %></td>
        <td><%= mer.name %></td>
        <td><%= link_to 'Show', mer %></td>
        <td><%= link_to 'Edit', edit_mer_path(mer) %></td>
        <td><%= link_to 'Destroy', mer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mer', new_mer_path %>
