<p id="notice"><%= notice %></p>

<p>
  <strong>Head:</strong>
  <%= @mer.head %>
</p>

<p>
  <strong>Name:</strong>
  <%= @mer.name %>
</p>
<h3>List Mer Skull</h3>
<ul>
<%- @mer.mer_skulls.each do |mer_skull|  %>
  <li><%=link_to mer_skull.description, mer_skull %></li>

  <%-end-%>
</ul>


<%= link_to 'Edit', edit_mer_path(@mer) %> |
<%= link_to 'Back', mers_path %>
