<h1>Listing merchant_accounts</h1>

<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Merchant</th>
      <th>Branch</th>
      <th>Current warehouse</th>
      <th>Role</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @merchant_accounts.each do |merchant_account| %>
      <tr>
        <td><%= merchant_account.account_id %></td>
        <td><%= merchant_account.merchant_id %></td>
        <td><%= merchant_account.branch_id %></td>
        <td><%= merchant_account.current_warehouse_id %></td>
        <td><%= merchant_account.role_id %></td>
        <td><%= link_to 'Show', merchant_account %></td>
        <td><%= link_to 'Edit', edit_merchant_account_path(merchant_account) %></td>
        <td><%= link_to 'Destroy', merchant_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Merchant account', new_merchant_account_path %>
