<%= simple_form_for(@import) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :warehouse_id %>

    <%= f.input :merchant_account_id %>

    <%= f.input :description %>
    <%= f.input :export %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
