<p id="notice"><%= notice %></p>

<p>
  <strong>Warehouse:</strong>
  <%= @import.warehouse_id %>
</p>

<p>
  <strong>Merchant account:</strong>
  <%= @import.merchant_account_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @import.description %>
</p>

<p>
  <strong>Description:</strong>
  <%= @import.export %>
</p>

<%= link_to 'Edit', edit_import_path(@import) %> |
<%= link_to 'Back', imports_path %>
