<h1>Listing skulls</h1>

<table>
  <thead>
    <tr>
      <th>Merchant</th>
      <th>Merchant account</th>
      <th>Skull code</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @skulls.each do |skull| %>
      <tr>
        <td><%= skull.merchant_id %></td>
        <td><%= skull.merchant_account_id %></td>
        <td><%= skull.skull_code %></td>
        <td><%= skull.description %></td>
        <td><%= link_to 'Show', skull %></td>
        <td><%= link_to 'Edit', edit_skull_path(skull) %></td>
        <td><%= link_to 'Destroy', skull, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Skull', new_skull_path %>
