<p id="notice"><%= notice %></p>

<p>
  <strong>Merchant:</strong>
  <%= @customer.merchant_id %>
</p>

<p>
  <strong>Merchant account:</strong>
  <%= @customer.merchant_account_id %>
</p>

<p>
  <strong>Area:</strong>
  <%= @customer.merchant_area_id %>
</p>

<p>
  <strong>Account name:</strong>
  <%= @customer.account_name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @customer.password %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
