%p#notice= notice

%p
  %b Role:
  = @role_permission.role_id
%p
  %b Permission:
  = @role_permission.permission_id
%p
  %b Active:
  = @role_permission.active

= link_to 'Edit', edit_role_permission_path(@role_permission)
\|
= link_to 'Back', role_permissions_path
