<%= simple_form_for(@return) do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :id %>
  <div class="form-inputs">

    <%= f.input :order_id %>

    <%= f.input :merchant_account_id %>

    <%= f.input :submited %>

    <%= f.input :creation_date %>

    <%= f.input :comment %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
