<h1>Listing returns</h1>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Merchant account</th>
      <th>Submited</th>
      <th>Creation date</th>
      <th>Comment</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @returns.each do |retur| %>
      <tr>
        <td><%= retur.order_id %></td>
        <td><%= retur.merchant_account_id %></td>
        <td><%= retur.submited %></td>
        <td><%= retur.creation_date %></td>
        <td><%= retur.comment %></td>
        <td><%= link_to 'Show', retur %></td>
        <td><%= link_to 'Edit', edit_return_path(retur) %></td>
        <td><%= link_to 'Destroy', retur, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Return', new_return_path %>
