<p id="notice"><%= notice %></p>

<p>
  <strong>Branche:</strong>
  <%= @mer_warehouse.branche_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @mer_warehouse.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @mer_warehouse.location %>
</p>

<%= link_to 'Edit', edit_mer_warehouse_path(@mer_warehouse) %> |
<%= link_to 'Back', mer_warehouses_path %>
