= form_for @merchant_account_permission do |f|
  - if @merchant_account_permission.errors.any?
    #error_explanation
      %h2= "#{pluralize(@merchant_account_permission.errors.count, "error")} prohibited this merchant_account_permission from being saved:"
      %ul
        - @merchant_account_permission.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :merchant_account_id
    = f.number_field :merchant_account_id
  .field
    = f.label :permission_id
    = f.number_field :permission_id
  .field
    = f.label :active
    = f.check_box :active
  .actions
    = f.submit 'Save'
