<h1>Listing product_summaries</h1>

<table>
  <thead>
    <tr>
      <th>Product code</th>
      <th>Skull</th>
      <th>Warehouse</th>
      <th>Name</th>
      <th>Qualtily</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @product_summaries.each do |product_summary| %>
      <tr>
        <td><%= product_summary.product_code %></td>
        <td><%= product_summary.skull_id %></td>
        <td><%= product_summary.warehouse_id %></td>
        <td><%= product_summary.name %></td>
        <td><%= product_summary.qualtily %></td>
        <td><%= product_summary.price %></td>
        <td><%= link_to 'Show', product_summary %></td>
        <td><%= link_to 'Edit', edit_product_summary_path(product_summary) %></td>
        <td><%= link_to 'Destroy', product_summary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product summary', new_product_summary_path %>
