<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :product_code %>
    <%= f.input :skull_id %>
    <%= f.input :warehouse_id %>
    <%= f.input :provider_id %>
    <%= f.input :import_id %>
    <%= f.input :name %>
    <%= f.input :import_quality %>
    <%= f.input :available_quality %>
    <%= f.input :instock_quality %>
    <%= f.input :import_price %>
    <%= f.input :expire %>
  </div>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
