<h1>Listing products</h1>

<table>
  <thead>
    <tr>
      <th>Product code</th>
      <th>Skull code</th>
      <th>Warehouse</th>
      <th>Provider</th>
      <th>Import</th>
      <th>Name</th>
      <th>Import Quality</th>
      <th>Import Price</th>
      <th>Expire</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.product_code %></td>
        <td><%= product.skull.id %></td>
        <td><%= product.warehouse.id %></td>
        <td><%= product.provider.id %></td>
        <td><%= product.import.id%></td>
        <td><%= product.name %></td>
        <td><%= product.import_quality %></td>
        <td><%= product.import_price %></td>
        <td><%= product.expire %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Merchant warehouse product', new_product_path %>
