<h1>Listing products</h1>

<table>
  <thead>
    <tr>
      <th>Product code</th>
      <th>Skull code</th>
      <th>Merchant warehouse</th>
      <th>Name</th>
      <th>Quality all</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.product_code %></td>
        <td><%= product.skull_code %></td>
        <td><%= product.merchant_warehouse %></td>
        <td><%= product.name %></td>
        <td><%= product.qualtiy_all %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Merchant warehouse product', new_product_path %>
