<p id="notice"><%= notice %></p>

<p>
  <strong>Product code:</strong>
  <%= @product.product_code %>
</p>

<p>
  <strong>Skull code:</strong>
  <%= @product.skull_id %>
</p>

<p>
  <strong>Merchant warehouse:</strong>
  <%= @product.warehouse_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Quality all:</strong>
  <%= @product.import_quality %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.import_price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
