<h1>Listing warehouses</h1>

<table>
  <thead>
    <tr>
      <th>Product code</th>
      <th>Skull code</th>
      <th>Merchant warehouse</th>
      <th>Name</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @warehouses.each do |warehouse| %>
      <tr>
        <td><%= warehouse.product_code %></td>
        <td><%= warehouse.skull_code %></td>
        <td><%= warehouse.merchant_warehouse %></td>
        <td><%= warehouse.name %></td>
        <td><%= warehouse.price %></td>
        <td><%= link_to 'Show', warehouse %></td>
        <td><%= link_to 'Edit', edit_warehouse_path(warehouse) %></td>
        <td><%= link_to 'Destroy', warehouse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Warehouse', new_warehouse_path %>
