<p id="notice"><%= notice %></p>

<p>
  <strong>Product code:</strong>
  <%= @warehouse.product_code %>
</p>

<p>
  <strong>Skull code:</strong>
  <%= @warehouse.skull_code %>
</p>

<p>
  <strong>Merchant warehouse:</strong>
  <%= @warehouse.merchant_warehouse %>
</p>

<p>
  <strong>Name:</strong>
  <%= @warehouse.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @warehouse.price %>
</p>

<%= link_to 'Edit', edit_warehouse_path(@warehouse) %> |
<%= link_to 'Back', warehouses_path %>
