<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : 'Zeprj' %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : 'Zeprj' %>">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= yield :styles %>
    <%= csrf_meta_tags %>
  </head>
  <body <%= 'class=signin-body' if current_action?('sessions', 'new') %> >

  <ul>
    <li><a href="/mers">Merchant</a> </li>
    <li><a href="/mer_skulls">Skull</a> </li>
    <li><a href="/branches">Branche</a> </li>
    <li><a href="/mer_warehouses">Warehouse</a> </li>

  </ul>

    <main id="application" role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>

    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


    <%= yield :scripts %>
  </body>
</html>
