<%= render 'layouts/essentials/opening'%>
  <div class='off-canvas-wrap application-wrapper row' data-offcanvas>

    <div class='inner-wrap'>
      <a class="left-off-canvas-toggle show-for-small-only" href="#" >Menu</a>
      <span class="show-for-medium-only">medium</span>
      <span class="show-for-large-only">large</span>
      <span class="show-for-xlarge-up">x-large</span>
      <aside class="left-off-canvas-menu">
        <ul>
          <li><a href="#">Item 1</a></li>...
        </ul>
      </aside>

      <div class='navigation row'>
        <div class='large-2 columns'>
          <h1 class='light'><i class="fa fa-chevron-left"></i>Start</h1>
        </div>
        <div class='large-10 columns'>
            <span class='right'>
              Welcome back! <%= current_account.email %> <br />
              M: <%= current_merchant_account.merchant_id %>,
              B: <%= current_merchant_account.branch_id %>,
              W: <%= current_merchant_account.current_warehouse_id %>.
            </span>
        </div>
      </div>
      <div class='option row'>
        Options
      </div>

      <%= yield %>

    </div>
  </div>
<%= render 'layouts/essentials/ending' %>