<h1>Listing accounts</h1>

<table>
  <thead>
    <tr>
      <th>Display name</th>
      <th>Login name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Status</th>
      <th>Password</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |gera_account| %>
      <tr>
        <td><%= gera_account.display_name %></td>
        <td><%= gera_account.login_name %></td>
        <td><%= gera_account.email %></td>
        <td><%= gera_account.phone %></td>
        <td><%= gera_account.status %></td>
        <td><%= gera_account.password %></td>
        <td><%= link_to 'Show', account %></td>
        <td><%= link_to 'Edit', edit_account_path(account) %></td>
        <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gera account', new_account_path %>
